/* General formatting */
body {
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
    sans-serif;
}

/* Basic line formatting for headers */
h1,
h2,
h3 {
  line-height: 1.2
}

/* flex formatting for columns */
.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* flex formatting for rows */
.content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* formatting for the tooltip for the Genre Bubble Chart */
.bubbles-tooltip {
  position: fixed;
  text-align: center;
  padding: 10px;
  font: 18px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}

/* formatting for the tooltip for the Reviews Bubble Chart */
.reviews-tooltip {
  position: fixed;
  text-align: center;
  padding: 10px;
  font: 18px cursive;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}

/* Make genre bubbles half opacity */
.node {
  opacity: .5;
}

/* Change the Book Points and linked Genre Bubbles when brushed  */
/* https://www.d3-graph-gallery.com/graph/interactivity_brush.html */
.brushed {
  opacity: 1 !important;
  stroke: #DDA0DD;
  stroke-width: 5px;
}

/* small text */
.small {
  font: italic 30px sans-serif;
}

/* heavy text */
.heavy {
  font: bold 50px sans-serif;
}

/* cursive text */
.Rrrrr {
  font: bold italic 70px serif;
  fill: #443b98;
}

/* provided foreword formatting */
.foreword {
  font: 15px -apple-system, BlinkMacSystemFont, "avenir next", avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
    sans-serif;
}

/* link version  of foreword */
.foreword_link {
  font: 15px -apple-system, BlinkMacSystemFont, "avenir next", avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans", roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
    sans-serif;
  fill: #0000EE;
  text-decoration: underline;
}

/* format github repo button */
#repo_button {
  width: 200px;
  border-radius: 5%;
  height: auto;
}